<%# // ORIGINAL // %>
<div class="container">
  <%= form_tag puppies_path, method: :get, class: "my-3" do %>
    <div class="d-flex">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a puppy"
      %>
      <%= submit_tag "Search", class: "btn btn-primary ms-3" %>
    </div>
  <% end %>


  <div class="cards-puppy">
    <% @puppies.each do |puppy| %>
      <%= render 'puppy', puppy: puppy %>
    <% end %>
  </div>
<br>
