<div class="search-bar">

  <%= form_tag puppies_path, method: :get, class: "my-3" do %>
    <div class="d-flex">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a puppy" %>
      <%= submit_tag "Search", class: "btn btn-flat ms-3" %>
    </div>
  <% end %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1597662942557-4087865bf476?ixlib=rb-1.2.1&ixid=MnwxM[…]B1cHB5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60);">
  <div class="container">
          <h1>Cuddle <strong>a puppy</strong> near you <strong>today</strong>!</h1>
    <p>Bringing love to families one pat at a time</p>
    <a class="btn btn-flat" href="#">Sign Up</a>
  </div>
</div>



<div class="container home-container">
  <div class="row">
    <% Puppy.first(3).each do |puppy| %>
      <div class="col-4">
        <%= render 'puppies/puppy', puppy: puppy %>
      </div>
    <% end %>
  </div>
</div>
