.home-banner {
  background-image: url('https://images.unsplash.com/photo-1597662942557-4087865bf476?ixlib=rb-1.2.1&ixid=MnwxM[…]B1cHB5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
  color: rgb(254, 254, 254);
  text-align: center;
  padding-top: 50vh;
  display: flex;
}
