.home-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  padding: 20px;

}

.cards-puppy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card-puppy-home
 {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-puppy
 > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-puppy
 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-puppy
 p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-puppy
 .card-puppy-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-puppy-infos .card-puppy-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;

}

.btn3:hover {
  opacity: 0.4;
  color: rgb(98, 122, 158);
}
.btn3 {
  font-size: medium;
  font-weight: lighter;
  font-family: inherit;
  color: #c94c4c;
  background-color: #F6C6BD;
  padding: 15px 25px;
  border-radius: 10px;



}

a {
  text-decoration: none;
}

// .card-puppy i {
//   font-size: 24px;
// }
